body {
    background-color: rgb(163, 199, 231);
}

h1 {
    text-align: center;
    color: #0a4c83;
}

.items {
    display: flex;   
    justify-content: space-around;
}

.item {
    background-color: rgb(183, 210, 233);
}